* {
  padding: 0;
  margin: 0;
}

.main {
  background-color: rgb(243, 246, 245);
}

.Educare {
  display: block;
  width: 190px;

}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
li{
  list-style: none;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.navigation{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.icon{
  width: 50px;
  height: 40px;
}
.container {
  display: block;
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.Recent {
  margin-left: 400px;
}

.started {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 95%;
  height: 520px;
  gap: 20px;
}

.Getting {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.Getting2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Momentum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
}

.View {
  background-color: rgb(43, 42, 42);
  width: 35%;
  height: 40px;
}

.View:hover{
  background-color: blueviolet;
}
.View2:hover{
  background-color: blueviolet;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}

.Lesson {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.Layout {
  width: 30.2%;
  background-color: white;
}

.Bet {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 10px;
}

.Bet3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(218, 218, 218);
  gap: 15px;
}
.View2{
  background-color: rgb(43, 42, 42);
  width: 9%;
  height: 35px; 
  margin: 30px 0 80px 86.2%;
}
.Assignment{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Assignments{
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  align-items: center;
  width: 92.5%;
  height: 100px;
}
.Ass{
  display: flex;
  flex-direction: column;
  color: blueviolet;
  align-items: center;
}
.Ass2{
  color: rgb(0, 0, 0);
}
.Bet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  width: 369px;
  height: 350px;
  background-color: white;
}

.Bet3{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Bt{
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
.webflow{
  display: flex;
  justify-content: space-between;
}
.webflow a{
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Lessons */
